Lists

Q1

In [57]:
user_list = []

# list from user
print('Enter list:')

for i in range(5):
    data = str(input())
    user_list.append(data)

print("List is:", user_list, end=" ")

# Print alternate elements
print("\n\nAlternate elements of the list:")
for i in range(0, len(user_list), 2):
    print(user_list[i], end=",")

Enter list:

 1
 apple
 3
 4
 wood

List is: ['1', 'apple', '3', '4', 'wood']

Alternate elements of the list:
1,3,wood,

Q2

In [61]:
user_list = []

# list from user
print('Enter list:')

for i in range(5):
    data = str(input())
    user_list.append(data)

print("List is:", user_list, end=" ")

# Reverse list without using reverse() 
reversed_list = []
for i in range(len(user_list)-1,-1, -2):
    reversed_list.append(user_list[i])

# Display reversed list
print("\n\nReversed list:")
for elements in reversed_list:
    print(elements, end=",")

Enter list:

 apple
 3
 wood
 4
 orange

List is: ['apple', '3', 'wood', '4', 'orange']

Reversed list:
orange,wood,apple,

Q3

In [65]:
user_list = []

# list from user
print('Enter list:')

for i in range(5):
    data = int(input())
    user_list.append(data)

print("List is:", user_list, end=" ")

max = 0
for data in user_list:
    if data > max:
        max = data

print('\n\nThe largest number in list is:', max)

Enter list:

 3
 2
 10
 49
 3

List is: [3, 2, 10, 49, 3]

The largest number in list is 49

Q4

In [74]:
user_list = []

# list from user
print('Enter list:')

for i in range(5):
    data = str(input())
    user_list.append(data)

print("List is:", user_list, end=" ")

# Rotating the elements of the list
rotated_list = [user_list[1]] + user_list[:-1]

# Displaying the rotated list
print("\n\nRotated list:")
for element in rotated_list:
    print(element, end=" ")

Enter list:

 1
 2
 3
 4
 5

List is: ['1', '2', '3', '4', '5']

Rotated list:
2 1 2 3 4

Q5

In [88]:
# Input string from user
input_text = str(input('Enter a string: '))
words = input_text.split()

# Input word to delete from the string
delete_word = str(input('Enter a word to delete: '))
status = False

# Delete given word from the string
for i in words:
    if i == delete_word:
        words.remove(i)
        status = True

# Displaying the result
if status:
    text = ' '.join(words)
    print('String after deletion:',text)
else:
    print('Word not present in string.')

Enter a string:  I am Zainab
Enter a word to delete:  am

String after deletion: I Zainab

Q6

In [91]:
from datetime import datetime

# Read the date string from the user
date_str = input("Enter a date in the form mm/dd/yyyy: ")

# Parse the input date string
date = datetime.strptime(date_str, "%m/%d/%Y")

# Convert the date to the desired format
formated_date = date.strftime("%B %d, %Y")

# Print the formatted date
print("Formated date:", formated_date)

Enter a date in the form mm/dd/yyyy:  05/12/2020

Formatted date: May 12, 2020

Q8

In [99]:
n = int(input("Enter the number of rows:"))
m = int(input("Enter the number of columns:"))
matrix = [] 

print("Enter values in matrix:") 

# For user input 
for i in range(n):
    data =[] 
    for j in range(m):
         data.append(int(input())) 
    matrix.append(data) 

# For printing the matrix 
print('\nMatrix is:')
for i in range(n): 
    for j in range(m): 
        print(matrix[i][j], end = " ") 
    print()

# For printing row wise sum 
for i in range(n):
    sum = 0
    for j in range(m): 
        sum = sum + matrix[i][j]
    print('\nSum of row',i+1,'is =',sum)

Enter the number of rows: 2
Enter the number of columns: 2

Enter values in matrix:

 4
 3
 1
 1

Matrix is:
4 3
1 1

Sum of row 1 is = 7

Sum of row 2 is = 2

Q9

In [101]:
X = [[1,2,3],[4 ,5,6],[7 ,8,9]]
Y = [[9,8,7],[6,5,4],[3,2,1]]
result = [[0,0,0],[0,0,0],[0,0,0]]

# iterate through rows
for i in range(len(X)): 
    
# iterate through columns
	for j in range(len(X[0])):
		result[i][j] = X[i][j] + Y[i][j]

for r in result:
	print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

Q10

In [102]:
X = [[1,2,3],[4 ,5,6],[7 ,8,9]]
Y = [[9,8,7],[6,5,4],[3,2,1]]
result = [[0,0,0],[0,0,0],[0,0,0]]

# iterate through rows
for i in range(len(X)): 
    
# iterate through columns
	for j in range(len(X[0])):
		result[i][j] = X[i][j] * Y[i][j]

for r in result:
	print(r)

[9, 16, 21]
[24, 25, 24]
[21, 16, 9]

Loops

Q1

In [104]:
for i in range(1, 11):
    print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

Q2

In [107]:
# Initialize the starting number
num = 20

# Using a while loop to print numbers from 20 to 1
while num >= 1:
    print(num, end=",")
    num -= 1

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

Q3

In [108]:
# Using a for loop to print even numbers from 1 to 10
print("Even numbers from 1 to 10:")
for i in range(2, 11, 2):
    print(i, end=" ")

Even numbers from 1 to 10:
2 4 6 8 10

Q4

In [114]:
# Prompt the user to enter a number
n = int(input("Enter a number (n): "))

# Using a for loop to print numbers from 1 to n
print("Numbers from 1 to", n, "is:")
for i in range(1, n + 1):
    print(i, end=",")

Enter a number (n):  10

Numbers from 1 to 10 is:
1,2,3,4,5,6,7,8,9,10,

Q5

In [113]:
# Prompt the user to enter a number
n = int(input("Enter a number (n): "))

# Using a for loop to print odd numbers from 1 to n
print("Odd numbers between 1 and", n, "is:")
for i in range(1, n + 1, 2):
    print(i, end=" ")

Enter a number (n):  10

Odd numbers between 1 and 10 is:
1 3 5 7 9

Q6

Q7